flows.dat
[{"id":"a366ad1d.c3504","type":"tab","label":"RPi health","disabled":false,"info":""},{"id":"f9a81061.8cd21","type":"tab","label":"Bluetooth","disabled":false,"info":""},{"id":"477cb46f.51b72c","type":"tab","label":"Heater control","disabled":true,"info":""},{"id":"ab5c7e24.c6e9","type":"tab","label":"Serial port data","disabled":false,"info":""},{"id":"98793a57.850b88","type":"tab","label":"Set point","disabled":false,"info":""},{"id":"44644766.155948","type":"serial-port","serialport":"/dev/rfcomm0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"8e661657.472578","type":"mqtt-broker","name":"Controls server","broker":"$(MQTTSERVERIP)","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"36310337.7a5fec","type":"serial-port","serialport":"/dev/rfcomm0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"e6671475.d5bb98","type":"ui_tab","name":"Heater","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"50ab4191.c989e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d9014553.7347f8","type":"ui_group","name":"Manual heater control","tab":"e6671475.d5bb98","order":1,"disp":true,"width":"6","collapse":false},{"id":"9377d7b3.957228","type":"ui_tab","name":"Bluetooth","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"8cbf9cf3.bc874","type":"ui_group","name":"Bluetooth control","tab":"9377d7b3.957228","order":1,"disp":true,"width":"6","collapse":false},{"id":"94c1f938.c18228","type":"mqtt-broker","name":"Controls server","broker":"beam.uchicago.edu","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d76ca91.6d34b58","type":"ui_group","name":"Bluetooth 2","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"83d826c4.a09a88","type":"ui_group","name":"Temperatures","tab":"7c712716.aa3458","order":1,"disp":true,"width":"6","collapse":false},{"id":"7c712716.aa3458","type":"ui_tab","name":"Teensy3","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"da768aca.2af438","type":"xmlrpc-client","name":"ACNET remote","host":"www-bd.fnal.gov","port":"443","path":"/xmlrpc/Remote"},{"id":"bf526e75.302b8","type":"ui_group","name":"Heater control","tab":"5b0dbe94.ec4a","order":1,"disp":true,"width":"6","collapse":false},{"id":"5b0dbe94.ec4a","type":"ui_tab","name":"Controller","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"e1b0fcd7.79b94","type":"ui_group","name":"MAGIS-RPi","tab":"6592144f.f1585c","order":1,"disp":true,"width":"6","collapse":false},{"id":"6592144f.f1585c","type":"ui_tab","name":"RPi health","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"7803f97d.2650d8","type":"serial out","z":"477cb46f.51b72c","name":"","serial":"44644766.155948","x":520,"y":60,"wires":[]},{"id":"6a57f752.39e448","type":"function","z":"477cb46f.51b72c","name":"","func":"var data = msg.payload;\nvar data1 = 'S1=0';\nif(data === 'true') {\n    data1 = 'S1=1';\n} else if(data === 'false') {\n    data1 = 'S1=0';\n}\n\nreturn {payload:data1};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":40,"wires":[["7803f97d.2650d8"]]},{"id":"13020e51.45a182","type":"function","z":"477cb46f.51b72c","name":"","func":"var data = msg.payload;\nvar data1 = 'S2=0';\nif(data === 'true') {\n    data1 = 'S2=1';\n} else if(data === 'false') {\n    data1 = 'S2=0';\n}\n\nreturn {payload:data1};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":100,"wires":[["7803f97d.2650d8"]]},{"id":"1f6b6e28.cd79e2","type":"exec","z":"f9a81061.8cd21","command":"sudo rfcomm connect hci0 00:14:03:05:5A:FF","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Bluetooth 2 connect","x":380,"y":80,"wires":[[],[],[]]},{"id":"9a757c93.97d66","type":"inject","z":"f9a81061.8cd21","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","payloadType":"str","x":90,"y":60,"wires":[["1f6b6e28.cd79e2"]]},{"id":"ef80f652.10c7c8","type":"ui_switch","z":"477cb46f.51b72c","name":"","label":"Load switch 1","tooltip":"","group":"d9014553.7347f8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":100,"y":40,"wires":[["6a57f752.39e448"]]},{"id":"d4e5a71a.7ba1a8","type":"ui_switch","z":"477cb46f.51b72c","name":"","label":"Load switch 2","tooltip":"","group":"d9014553.7347f8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":100,"y":100,"wires":[["13020e51.45a182"]]},{"id":"a2364eb3.d272c","type":"ui_button","z":"f9a81061.8cd21","name":"","group":"8cbf9cf3.bc874","order":2,"width":0,"height":0,"passthru":false,"label":"Bluetooth reset","tooltip":"","color":"black","bgcolor":"yellow","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":120,"wires":[["1f6b6e28.cd79e2"]]},{"id":"5c88d31c.016aec","type":"debug","z":"477cb46f.51b72c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":180,"wires":[]},{"id":"44889312.ba064c","type":"function","z":"ab5c7e24.c6e9","name":"Get time stamp","func":"var time = msg.payload.timestamp\nvar tempDate = new Date(time).toLocaleString(\"en-US\");\nreturn {payload:tempDate};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":200,"wires":[["d5f27cf7.28233"]]},{"id":"d5f27cf7.28233","type":"ui_text","z":"ab5c7e24.c6e9","group":"83d826c4.a09a88","order":6,"width":0,"height":0,"name":"Timestamp","label":"Time stamp","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":200,"wires":[]},{"id":"d26c60c1.6a8ff","type":"function","z":"ab5c7e24.c6e9","name":"Heartbeat","func":"var data = msg.payload.data\nvar heart = data.heart_beat;\nreturn {payload:heart};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":160,"wires":[["923667ee.c26748"]]},{"id":"1db01435.3e67dc","type":"function","z":"ab5c7e24.c6e9","name":"Temp 1","func":"var data = msg.payload.data\nvar temp_r = data.temp_read1;\nreturn {payload:temp_r};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":240,"wires":[["ce3d68a4.94b5c8","3e6e1b8b.914944","2f287dc2.00ae42"]]},{"id":"6b26234a.893a7c","type":"function","z":"ab5c7e24.c6e9","name":"Temp 2","func":"var data = msg.payload.data\nvar temp_r = data.temp_read2;\nreturn {payload:temp_r};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":280,"wires":[["4c2c6421.025e4c","867cb40.d2fac5"]]},{"id":"e3a38f2.4a2f77","type":"function","z":"ab5c7e24.c6e9","name":"Teensy temp","func":"var data = msg.payload.data\nvar temp_r = data.temp_read3;\nreturn {payload:temp_r};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":320,"wires":[["9d269a3e.d288a8"]]},{"id":"923667ee.c26748","type":"ui_text","z":"ab5c7e24.c6e9","group":"8cbf9cf3.bc874","order":5,"width":0,"height":0,"name":"Heart beat","label":"Bluetooth heartbeat","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":160,"wires":[]},{"id":"ce3d68a4.94b5c8","type":"ui_text","z":"ab5c7e24.c6e9","group":"83d826c4.a09a88","order":3,"width":0,"height":0,"name":"Temp 1","label":"Temperature 1","format":"{{msg.payload}}","layout":"row-spread","x":560,"y":240,"wires":[]},{"id":"4c2c6421.025e4c","type":"ui_text","z":"ab5c7e24.c6e9","group":"83d826c4.a09a88","order":5,"width":0,"height":0,"name":"Temp 2","label":"Temperature 2","format":"{{msg.payload}}","layout":"row-spread","x":560,"y":280,"wires":[]},{"id":"9d269a3e.d288a8","type":"ui_text","z":"ab5c7e24.c6e9","group":"83d826c4.a09a88","order":1,"width":0,"height":0,"name":"Int temp","label":"Internal Teensy temperature","format":"{{msg.payload}}","layout":"row-spread","x":560,"y":320,"wires":[]},{"id":"7405447f.4e824c","type":"function","z":"ab5c7e24.c6e9","name":"Make a JSON object","func":"var info = msg.payload;\nvar tempStopIndex   = info.indexOf('&');\nvar temp_r1 = Number(info.substring(0, tempStopIndex));\nvar info1 = info.substring(tempStopIndex+1);\ntempStopIndex   = info1.indexOf('&');\nvar temp_r2 = Number(info1.substring(0, tempStopIndex));\nvar info2 = info1.substring(tempStopIndex+1);\ntempStopIndex   = info2.indexOf('&');\nvar heart_b = Number(info2.substring(0, tempStopIndex));\nvar info3 = info2.substring(tempStopIndex+1);\ntempStopIndex   = info3.indexOf('&');\nvar teensy_temp = Number(info3.substring(0, tempStopIndex));\nvar info4 = info3.substring(tempStopIndex+1);\ntempStopIndex   = info4.indexOf('&');\nvar setpoint = Number(info4.substring(0, tempStopIndex));\nvar info5 = info4.substring(tempStopIndex+1);\ntempStopIndex   = info5.indexOf('&');\nvar heater1_status = Number(info5);\nvar data_payl = {temp_read1:temp_r1, temp_read2:temp_r2, temp_read3:teensy_temp, heart_beat:heart_b, setpoint:setpoint, status:heater1_status};\nvar payl = {data:data_payl, timestamp:Date.now()}\nreturn {payload:payl};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":240,"wires":[["d26c60c1.6a8ff","44889312.ba064c","1db01435.3e67dc","6b26234a.893a7c","e3a38f2.4a2f77","3b649415.419c1c","712ba497.7674ec"]]},{"id":"4a661f62.c17fa","type":"serial in","z":"ab5c7e24.c6e9","name":"","serial":"36310337.7a5fec","x":90,"y":120,"wires":[["7405447f.4e824c"]]},{"id":"a8ff1f5e.f1d67","type":"debug","z":"ab5c7e24.c6e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":600,"wires":[]},{"id":"d2d8d9eb.0b308","type":"function","z":"f9a81061.8cd21","name":"","func":"var msg = {\n    payload: ['Z:MAGISTEMP1', (Math.random()*10.0)]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":260,"wires":[[]]},{"id":"4235a2ac.0adbec","type":"debug","z":"f9a81061.8cd21","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":340,"wires":[]},{"id":"acaecc45.551468","type":"xmlrpc call","z":"f9a81061.8cd21","name":"ACNET setting","method":"Remote.setting","client":"da768aca.2af438","x":520,"y":260,"wires":[[]]},{"id":"3e6e1b8b.914944","type":"function","z":"ab5c7e24.c6e9","name":"ACNET setting 1","func":"var msg1 = {\n    payload: ['Z:MAGISTEMP1', msg.payload]\n}\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":440,"wires":[["26d7bc65.53eaf4"]]},{"id":"26d7bc65.53eaf4","type":"xmlrpc call","z":"ab5c7e24.c6e9","name":"ACNET setting","method":"Remote.setting","client":"da768aca.2af438","x":500,"y":440,"wires":[[]]},{"id":"867cb40.d2fac5","type":"function","z":"ab5c7e24.c6e9","name":"ACNET setting 2","func":"var msg1 = {\n    payload: ['Z:MAGISTEMP2', msg.payload]\n}\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":480,"wires":[["19286d09.83c483"]]},{"id":"19286d09.83c483","type":"xmlrpc call","z":"ab5c7e24.c6e9","name":"ACNET setting","method":"Remote.setting","client":"da768aca.2af438","x":500,"y":480,"wires":[[]]},{"id":"56a4f2c6.71312c","type":"function","z":"98793a57.850b88","name":"","func":"var message = \"OK\"\nvar data = msg.payload\nif(isNaN(data)) {\n    message = \"Not a number\"\n    data = 0\n} \nif (data < 0) {\n    data = 0;\n    message = \"Not a valid number\"\n} else if (data > 200) {\n    data = 0;\n    message = \"Not a valid number\"\n}\nvar payl = {data:data, timestamp:Date.now(), message:message}\nreturn {payload:payl}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":60,"wires":[["b763d0d.0d83e3","92aaf4d3.8aa978"]]},{"id":"dbdef475.473d88","type":"ui_text_input","z":"98793a57.850b88","name":"","label":"Heater setpoint, C","tooltip":"Enter the temperature set point ( 0 - 200)","group":"bf526e75.302b8","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","topicType":"str","x":90,"y":60,"wires":[["56a4f2c6.71312c"]]},{"id":"b763d0d.0d83e3","type":"function","z":"98793a57.850b88","name":"Get message","func":"var text = msg.payload.message\nreturn {payload:text};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":140,"wires":[["90eb6594.a8b068"]]},{"id":"90eb6594.a8b068","type":"ui_text","z":"98793a57.850b88","group":"bf526e75.302b8","order":4,"width":0,"height":0,"name":"","label":"Value entered is","format":"{{msg.payload}}","layout":"row-spread","x":500,"y":140,"wires":[]},{"id":"82950c0d.ecb82","type":"exec","z":"a366ad1d.c3504","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":350,"y":60,"wires":[["716db7a0.dda758"],[],[]]},{"id":"23df618a.8c356e","type":"inject","z":"a366ad1d.c3504","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":60,"wires":[["82950c0d.ecb82"]]},{"id":"716db7a0.dda758","type":"function","z":"a366ad1d.c3504","name":"Get GPU temp and time stamp","func":"var info = msg.payload;\nvar tempStartIndex  = info.indexOf('temp=');\nvar tempStopIndex   = info.indexOf('C') - 1;\nvar temp = Number(info.substring(tempStartIndex + 5, tempStopIndex));\n//var val = {temp : temp};\n// flow.set('Temperature',temp);\nvar payl = {data:temp, timestamp:Date.now()}\nreturn {payload:payl};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":140,"wires":[["8a57e91d.4b45f8"]]},{"id":"8a57e91d.4b45f8","type":"function","z":"a366ad1d.c3504","name":"Get data","func":"var data = msg.payload.data\nreturn {payload:data};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":200,"wires":[["deb01f9a.e9a3b"]]},{"id":"deb01f9a.e9a3b","type":"ui_gauge","z":"a366ad1d.c3504","name":"","group":"e1b0fcd7.79b94","order":0,"width":0,"height":0,"gtype":"gage","title":"GPU Temp","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":200,"wires":[]},{"id":"92aaf4d3.8aa978","type":"function","z":"98793a57.850b88","name":"","func":"var data = msg.payload.data\nvar data1 = 'T=' + data.toString();\nreturn {payload:data1};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":220,"wires":[["90b81fcb.c3d49"]]},{"id":"90b81fcb.c3d49","type":"serial out","z":"98793a57.850b88","name":"","serial":"44644766.155948","x":350,"y":220,"wires":[]},{"id":"3b649415.419c1c","type":"function","z":"ab5c7e24.c6e9","name":"setpoint","func":"var data = msg.payload.data\nvar setpoint = data.setpoint;\nreturn {payload:setpoint};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":120,"wires":[["4dca57a6.2f0598"]]},{"id":"2f287dc2.00ae42","type":"ui_text","z":"ab5c7e24.c6e9","group":"bf526e75.302b8","order":2,"width":0,"height":0,"name":"","label":"Current temperature 1:","format":"{{msg.payload}}","layout":"row-spread","x":600,"y":360,"wires":[]},{"id":"4dca57a6.2f0598","type":"ui_text","z":"ab5c7e24.c6e9","group":"bf526e75.302b8","order":3,"width":0,"height":0,"name":"","label":"Setpoint","format":"{{msg.payload}}","layout":"row-spread","x":560,"y":120,"wires":[]},{"id":"712ba497.7674ec","type":"function","z":"ab5c7e24.c6e9","name":"Heater status","func":"var data = msg.payload.data\nvar status1 = data.status;\nvar status = \"OFF\";\nif (status1 == 1) {status = \"ON\"\n}\nreturn {payload:status};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":80,"wires":[["875178ad.91b618"]]},{"id":"875178ad.91b618","type":"ui_text","z":"ab5c7e24.c6e9","group":"bf526e75.302b8","order":4,"width":0,"height":0,"name":"","label":"Heater ON?","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":80,"wires":[]}]
